body {
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-family: Roboto;
	font-size: 14px;
}

a {
	color: #888;
}

a:hover {
	color: #888;
}

canvas {
	cursor: move;
}

.app-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.three-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90vh;
    width: 100%;
}

/* Color Picking */
.option-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

.option-item {
    display: block;
    position: relative;
    height: auto;
}

.option-label {
    position: relative;
    display: block;
    font-weight: bold;
}

.option-input-box {
    position: relative;
    display: flex;
}

.option-picker {
    position: relative;
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 4px;
    border: 1px dashed gray;
}

.option-picker:hover {
    cursor: pointer;
}

.option-input {
    position: relative;
    display: inline-block;
    margin-left: .5rem;
    font-size: 1rem;
    max-width: 5rem;
    padding: 0 .25rem;
    text-transform: uppercase;
}

/* Picker */
.picker-container {
    position: absolute;
    display: none;
    height: auto;
    width: calc(5*(36px + .7rem));
    flex-wrap: wrap;
    bottom: 110%;
    background-color: white;
    justify-content: center;
    z-index: 1000;
}

.picker-container.active {
    display: flex;
}

.picker-item {
    position: relative;
    display: flex;
    width: 36px;
    height: 36px;
    margin: .25rem;
    border-radius: 4px;
    border: 1px dashed gray;
    align-items: center;
    justify-content: center;
}

.picker-item:hover {
    cursor: pointer;
}

.picker-label {
    position: relative;
    display: block;
    text-transform: uppercase;
    user-select: none;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.click-guard {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.click-guard.active {
    display: block;
}

.sidebar {
	color: #fff;
	z-index: 999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
}

#sidebar_colors {
	
}

.sidebar_right {
	float: right;
}

.sidebar_left {
	float: left;
}

.sidebar .sidebar_right {
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	padding: 1em;
}

#action_buttons {
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
}

#action_buttons i {
	margin: 0 0.2em 0 0;
	display: inline-block;
}

.sidebar .sidebar_button, #save_render, #info, #fullscreen, #exitfullscreen, #camera_cycle, #settings {
	padding: 0.4em;
	font-size: 1.6em;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.7);
	color: #eee;
}

.sidebar .sidebar_button:hover, #save_render:hover, #info:hover, #fullscreen:hover, #exitfullscreen:hover, #camera_cycle:hover, #settings:hover {
	color: #fff;
}

i#exitfullscreen {
	display: none;
}

.infopop {
	padding: 0.5em 2em;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	z-index: 999;
	position: absolute;
	bottom: 2em;
	width: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 980px;
	border-radius: 4px;
	text-align: center;
}

#colors span {
	display: block;
	text-align: right;
}

#colors input {
	border: 1px solid #333;
	padding: 0.8em;
	border-radius: 4px;
	margin-bottom: 0.2em;
	color: #444;
	background: #f5f5f5;
}

#colors .palette-color-picker-button {
	vertical-align: middle;
	margin: -1pt 8pt 0 0;
	border-radius: 4px;
	border: 0;
	width: 2.3em;
	height: 2.3em;
	box-shadow: none;
}

#colors .palette-color-picker-bubble {
	width: 12em;
	z-index: 999;
}

#colors .palette-color-picker-bubble > span.swatch {
	display: inline-block;
	margin: 2pt;
	font-size: 12pt;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
	width: 7%;
	height: 10pt;
	padding: 10pt 5pt 5pt 5pt;
}

#colors .palette-color-picker-bubble > span.swatch > span {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

.sp-dd {
	display: none;
}

.sp-replacer {
	padding: 0;
	border: none;
	background: rgba(0, 0, 0, 0);
	border-radius: 4px;
	width: 2.3em;
	height: 2.3em;
	margin: -1pt 8pt 0 0;
}

.sp-preview {
	vertical-align: middle;
	border: none;
	width: 2.3em;
	height: 2.3em;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.modal h1, h4 {
	margin: 0;
	font-size: 1.5em;
	font-family: Heebo;
	font-weight: bold;
}

.modal .modal_inner {
	background: #f5f5f5;
	color: #444;
	border-radius: 4px;
	padding: 1em;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}

.modal .modal_inner .container {
	width: auto;
	max-width: 9999px;
}

.modal .modal_inner .container .row {
	margin-top: 1em;
}

.modal .close {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.button-flat {
	padding: 0.5em 1em;
	color: #f5f5f5;
	background: #444;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
	display: inline-block;
	font-family: Heebo;
}

.button-flat:hover {
	color: #fff;
}

#logo {
	font-size: 4em;
	font-weight: bold;
	font-family: Heebo;
	position: fixed;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 0;
	color: #444;
	text-align: center;
	z-index: 1000;
}

#logo span {
	font-size: 0.4em; 
	color: #888;
	margin-left: 0.2em;
}

#mykb {
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 250px;
	z-index: 998;
}

#mykb img {
	width: 100%;
}